.btn {
  color: #fff;
  text-shadow: none;
  text-decoration: none;
  font-size: 0.9em;
  background-color: #1c3f95;
  border: solid 3px #d4dddd;
  border-radius: 0;
  padding: 0.4em 0.9em;
  margin: 0.6em 0;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #fff;
  text-decoration: none;
  background-color: #3b94d9;
  border: solid 3px #1c3f95;
}
.btn-xs {
  padding: 1px 5px;
  margin: 0;
  border: 0;
  &:hover {
    border: 0;
  }
}