.entry-header {
  h1 {
    margin: 1.6em 0;
    font-size: 2.4em;
  }
}
.page-header-banner {
  margin-bottom: 2.4em;
  padding: 1em;
  background: #d4dddd;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .entry-header {
    h1 {
      margin: 5.8em 0 1em;
      color: #fff;
      text-shadow: #222 2px 3px 5px;
    }
  }
}
@media (max-width: 768px) {
  .page-header-banner {
    padding: 0;
    .entry-header {
      h1 {
        margin: 0.6em 0;
      }
    }
  }
}
.page .entry-content, .single .entry-content {
  margin-bottom: 3em;
}
ul.buttons {
  padding: 0;
  text-align: center;
}
ul.buttons li {
  display: inline-block;
  list-style: none;
}
ul.buttons li a {
  display: block;
  padding: 1em 1.5em;
  border: 2px solid #ddd;
  text-decoration: none;
}
ul.buttons li a:hover {
  background-color: #eee;
  border: 2px solid #ccc;
  text-decoration: underline;
}