.social {
  background-color: #d4dddd;
  padding: 1em 0;
}
footer {
  padding: 1em 0;
  background-color: #e4eaea;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer .site-info {
  padding: 1em;
}
.footer-col .widget {
  padding-right: 3.4em;
}
.widFRR {
  margin: 0 auto !important;
}