body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif, sansserif;
  text-rendering: optimizeLegibility;
  color: #222;
  font-size: 18px;
  line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
  margin: 1.6em 0 1em;
  font-weight: 700;
}
h1 {
  font-size: 3em;
}
p {
  margin: 0 0 1.6em;
}
a {
  color: #1c3f95;
}
a:hover, a:focus {
  text-decoration: underline;
}
a:focus {
  background-color: #f7ecb5;
}
ul {
  margin-bottom: 1.6em;
}