body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif, sansserif;
  text-rendering: optimizeLegibility;
  color: #222;
  font-size: 18px;
  line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #1c3f95;
  margin: 1.6em 0 1em;
}
h1 {
  font-size: 3em;
}
p {
  margin: 0 0 1.6em;
}
a {
  color: #1c3f95;
  text-decoration: underline;
}
a:hover, a:focus {
  text-decoration: none;
}
a:focus {
  background-color: #f7ecb5;
}
ul {
  margin-bottom: 1.6em;
}
.entry-sidebar {
  margin-bottom: 2.4em;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li a {
      padding: 0.3em 0;
      border-top: 1px solid #eee;
      width: 100%;
      display: block;
    }
  }
}
.alert {
  color: #3c763d;
  background-color: #dff0d8;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  p {
    margin: 0;
  }
}
.row-flex {
  display: flex;
  flex-wrap: wrap;
}