.home-header {
  display: table;
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 480px;
  color: #fff;
  .container {
    display: table-cell;
    vertical-align: middle;
    .home-entry {
      margin: 1.6em 0;
      img {
        margin: 0 auto;
      }
    }
  }
  .discover {
    margin: 1.6em 0;
    .btn {
      margin: 0.5em;
    }
  }
  p {
    color: #fff;
  }
  a {
    color: #fff;
  }
}

.home-section {
  padding: 3.6em 0 2.6em;
  .section-intro {
    padding: 0 0 2.6em;
  }
}
.section-img {
  color: #fff;
  padding: 2.6em 0 4.6em;
  text-shadow: #222 2px 3px 5px;
  background: #d4dddd;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
