.home-header {
  display: table;
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 480px;
  color: #fff;
  .container {
    display: table-cell;
    vertical-align: middle;
    .home-entry {
      margin: 1.6em 0;
      img {
        margin: 0 auto;
      }
    }
  }
  .discover {
    margin: 1.6em 0;
    .btn {
      margin: 0.5em;
    }
  }
  p {
    color: #fff;
  }
  a {
    color: #fff;
  }
}

.home-section {
  .section-bg {
    padding: 3.6em 0 4.8em;
  }
  img {
    max-height: 360px;
    margin: 0 auto;
  }
}
.section-img {
  color: #fff;
  text-shadow: #222 2px 3px 5px;
  background: #d4dddd;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
  .section-bg {
    background: rgba(0,0,0,0.2);
    min-height: 480px;
  }
}
.section-intro {
  .section-bg {
    padding-top: 0;
  }
}
#verifyAge {
  display: none;
}
#verifyAgeHeight {
  display: table;
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 480px;
  color: #fff;
  background: rgba(0,0,0,0.4);
  .container {
    display: table-cell;
    vertical-align: middle;
    .home-entry {
      margin: 1.6em 0;
      img {
        margin: 0 auto;
      }
      p {
        margin: 1em 0;
      }
    }
  }
}
