
.wp-caption.aligncenter, img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.entry-content img.alignright, .entry-content .wp-caption.alignright {
  margin-right: 0px;
  float: right;
}

.entry-content img.alignnone {
  margin: 1.6em 0;
}

.wp-caption.alignright, img.alignright {
  margin: 5px 0 1.6em 1.6em;
}

.entry-content img.alignleft, .entry-content .wp-caption.alignleft {
  margin-left: 0px;
  float: left;
}

.wp-caption.alignleft, img.alignleft {
  margin: 5px 1.6em 1.6em 0px;
}

.wp-caption .wp-caption-text, .entry-caption, .gallery-caption {
  color: #220e10;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  padding: 1em;
  background: #eee;
}

iframe {
  margin: 1.6em 0;
}

.modal {
  .modal-footer .btn {
    margin-bottom: 0;
  }
}

.gw-product-list {
  h1 {
    font-size: 1.25em;
    margin: 0 !important;
  }
  div.images {
    margin: 0 !important;
    img {
      max-width: 148px;
      max-height: 48px !important;
      margin-right: 0.7em !important;
    }
  }
  p.price {
    font-size: 1em !important;
    margin: 0 !important;
  }
  div.summary {
    width: 100% !important;
    margin: 0 !important;
  }
  td.label {
    display: none;
  }
  td.value {
    padding: 0 !important;
  }
  tr.product-row {
    border: 1px solid #ddd;
    td {
      padding: 0.3em;
    }
    td.product-add-to-cart {
      .woocommerce-variation-add-to-cart {
        text-align: center;
      }
      button {
        padding: .3em .5em !important;
      }
    }
    .quantity .qty {
      padding: 0 .5em !important;
      width: 3.631em !important;
      font-size: 1em !important;
    }
  }
}