.wines {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.wine-item {
  float: left;
  width: 14%;
  padding: 0 0.6em;
  min-width: 140px;
}
.wine-item a {
  text-decoration: none;
}
.wine-item a:hover {
  text-decoration: underline;
}
@media (max-width: 480px) {
  .wine-item {
    width: 48%;
  }
}