.wines {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  .wine-item {
    float: left;
    width: 11%;
    padding: 0 0.6em;
    img {
      margin: 0 auto;
    }
    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  @media (max-width: 960px) {
    .wine-item {
      width: 32%;
    }
  }
  @media (max-width: 480px) {
    .wine-item {
      width: 48%;
    }
  }
}
