.woocommerce {
  .single-product {
    margin-top: 1.4em;
    border-top: 1px solid #ddd;
    padding-top: 1em;
    .product-row {
      p {
        margin: 0;
      }
      .product_title {
        margin-bottom: 0.5em !important;
      }
      select {
        width: 100%;
      }
      p.in-stock {
        display: none !important;
      }
    }
  }
  .gw-single-product {
    margin-top: 1.6em;
  }
  table.shop_table td.product-thumbnail {
    display: none !important;
  }
  div.product div.images img {
    width: auto;
    max-height: 540px;
    margin: 0 auto;
  }
  .woocommerce-tabs {
    .tabs, h2 {
      display: none;
    }
  }
  #respond input#submit.alt,
  a.button.alt,
  button.button.alt,
  input.button.alt {
    background-color: #444 !important;
  }
  div.product p.price,
  div.product span.price {
    color: #000;
  }
  .quantity .qty {
    padding: .25em 1em;
    width: 5em;
  }
  #ship-to-different-address {
    label, .checkbox {
      margin: 0;
    }
  }
  .woocommerce-MyAccount-navigation {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        padding: 0.3em 0;
        border-top: solid 1px #ddd;
      }
      a {
        text-decoration: none;
      }
    }
  }
  .woocommerce-MyAccount-navigation-link--downloads {
    display: none;
  }
}
.woocommerce-account {
  .col-md-8 {
    width: 100%;
  }
}
.gw-single-product {
  div.images, div.summary {
    float: none !important;
    width: 100% !important;
  }
  .buy-now-btn {
    .btn {
      margin: 0;
    }
  }
  form.cart, p.stock, p.price, p.in-stock {
    display: none !important;
  }
}