.woocommerce {
  .single-product {
    margin-top: 2.4em;
  }
  table.shop_table td.product-thumbnail {
    display: none !important;
  }
  div.product div.images img {
    width: auto;
    max-height: 540px;
    margin: 0 auto;
  }
  .woocommerce-tabs {
    .tabs, h2 {
      display: none;
    }
  }
  .entry-header {
    display: none;
  }
}